<%- include('partials/header') %>




    <link rel="stylesheet" href="/stylesheets/admin.css" enctype="multipart/form-data">
    <script src="/javascripts/admin.js" defer></script>
    

<H1 class="aga1">ADMINISTRAÇÃO DE PRODUTOS</H1>

    <main class="container-main">


      <form class="form" method="post" action="/servicos/create" enctype="multipart/form-data">
        <h2>CREATE</h2>

        <input type="text" name="artista" id="artista" required placeholder="Artista" >
        <input type="text" name="musica"  required placeholder="Música">
        <input type="text" name="album"   required placeholder="Álbum">

        <% const generosLabels = ["Rock","Dance","HipHop","Sertanejo","Axé","Blues","Funk","Forro","Reggae","Pop","Samba","Pagode","MPB"]  %>

        <select name="genero">
        <% for( let index = 0; index < generosLabels.length; index++ ) { %>          
            <option value="<%=generosLabels[index]%>"><%=generosLabels[index]%></option>        
        <% } %>
       </select>
               
        <div class="imagem">
        <p>Capa Album</p>
        <img id="imagemAL"  src = "../images/imagensAlbuns/wait.jpg" alt="">
         </div>    
         <input required id="escolheArquivo" type="file" name="imagem" accept="image/*" placeholder="imagem" >
       
        <input type="text" name="preco" required placeholder="Preço R$">
        <input type="text" name="gravadora" required placeholder="Gravadora">
        <input type="text" name="ano" required placeholder="Ano" >

        <div>
        <label for="ativo">Ativo</label>       
        <input type="radio" id="radio_yes" name="ativo" value="1" checked="checked"/> Sim
        <input type="radio" id="radio_no"  name="ativo" value="0"/> Não    
        </div>

        <div>
        <label for="oferta">Oferta</label>
        <input type="radio" id="radio_yes" name="oferta" value="1" /> Sim
        <input type="radio" id="radio_no"  name="oferta" value="0"
        checked="checked" /> Não
        </div>

        <p>Arquivo MP3</p>
        <input required type="file" name="endereco" accept="audio/mp3" placeholder="MP3">
        
        <button >Adicionar Música</button>
      </form>
      


      <!-- GET -->
     <!-- <div class="get"> -->
       <form class="get" method="post" action="/servicos/search"> 
        <h2>READ</h2>
        
        <select name="id">
          <% for( let index = 0; index < produtos.length; index++ ) { %>          
              <option value="<%=produtos[index].id%>">ID: <%=produtos[index].id%> - <%=produtos[index].musica %></option>        
          <% } %>
         </select>
         

        <% if (typeof cardMusic !== "undefined"){ %>
          <div class="miniCard"> 
          
          <img src="<%=cardMusic.imagem%>" alt="">
          <span><%=cardMusic.artista%></span>
          <span><%=cardMusic.musica%></span>
          <span><%=cardMusic.genero%></span>
          <span>R$<%=cardMusic.preco%></span>

          <span>Ref ID:<%=cardMusic.id %></span>
          </div>

           <% } else { %>           
          <span>VAZIO</span>
                    <% } %>
        
        <button id="busca" >Buscar</button>
       </form>
      <!-- </div> -->

      


      <!-- PUT -->
     
      <form class="form" method="post" action="/servicos/edit?_method=PUT">
        <h2>UPDATE</h2>
        

         <% if (typeof cardMusic !== "undefined"){ %>
          
            <span>ID = <%=cardMusic.id %></span>
            <input type="text" name="id" placeholder="id" value="<%=cardMusic.id%>" hidden required>
            <input type="text" name="artista" placeholder="Artista" value="<%=cardMusic.artista%>" required>
            <input type="text" name="musica" placeholder="Música" value="<%=cardMusic.musica%>" required>
            <input type="text" name="album" placeholder="Álbum" value="<%=cardMusic.album%>" required>

            <select name="genero">
              <% for( let index = 0; index < generosLabels.length; index++ ) { %>                            
                <% if(cardMusic.genero === generosLabels[index]) { %>
                  <option value="<%=generosLabels[index]%>" selected><%=generosLabels[index]%></option>
                <% } else { %>
                  <option value="<%=generosLabels[index]%>"><%=generosLabels[index]%></option>
                <% } %>                 
              <% } %>
             </select>

             <div class="imagem">
              <p>Capa Album</p>
              <img id="imagemAL"  src = "<%=cardMusic.imagem%>" alt="">
               </div>  
         
        <input type="text" name="preco" placeholder="Preco" value="<%=cardMusic.preco%>" required>
        <input type="text" name="gravadora" placeholder="Gravadora" value="<%=cardMusic.gravadora %>" required>
        <input type="text" name="ano" placeholder="Ano" value="<%=cardMusic.ano %>" required>

        <div>
          <label for="ativo">Ativo</label>       
          <input type="radio" id="radio_yes" name="ativo" value="1" checked="checked"/> Sim
          <input type="radio" id="radio_no"  name="ativo" value="0"/> Não    
          </div>
  
          <div>
          <label for="oferta">Oferta</label>
          <input type="radio" id="radio_yes" name="oferta" value="1" /> Sim
          <input type="radio" id="radio_no"  name="oferta" value="0" checked="checked" /> Não
          </div>
         
           <% } else { %>           
         

        <input type="text" name="artista" placeholder="Artista" required>
        <input type="text" name="musica" placeholder="Música" required>
        <input type="text" name="album" placeholder="Álbum" required>
       
        
        <select name="genero" required>
        <% for( let index = 0; index < generosLabels.length; index++ ) { %>          
            <option value="<%=generosLabels[index]%>"><%=generosLabels[index]%></option>        
        <% } %>
       </select>


        <input type="text" name="preco" placeholder="Preco" required>
        <input type="text" name="gravadora" placeholder="Gravadora" required>
        <input type="text" name="ano" placeholder="Ano" required>

        <div>
          <label for="ativo">Ativo</label>       
          <input type="radio" id="radio_yes" name="ativo" value="1" checked="checked"/> Sim
          <input type="radio" id="radio_no"  name="ativo" value="0"/> Não    
          </div>
  
          <div>
          <label for="oferta">Oferta</label>
          <input type="radio" id="radio_yes" name="oferta" value="1" /> Sim
          <input type="radio" id="radio_no"  name="oferta" value="0" checked="checked" /> Não
          </div>

          <% } %>

        <button>Editar</button>
      </form>
   


      <!-- DELETE post-->
      
      <!-- <form class="form" method="post" action="/servicos/remove?_method=DELETE">
        <h2>DELETE</h2>
        <label for="id">ID:</label>
        <input type="text" name="id" placeholder="id">

        <button>Excluir</button>
      </form>
   -->

    </main>

   <div>
    <h1 class="aga1">Existem <%- produtos.length%> Produtos Cadastrados</h1>
   </div>


    <table class="table">
    
      <tr>
        <th>Capa</th>
        <th>Produto</th>
        <th>Audio</th>
        <th>Ação</th>
      </tr>
      
      <% for( let index = 0; index < produtos.length; index++ ){ %>
        <tr>
<td>
<img class="imgTable" src=<%- produtos[index].imagem %> alt="">
</td>
          <td>
            <span>ID:<%- produtos[index].id %> - </span>
            <span>Artista: <%- produtos[index].artista %> - </span> 
            <span>Música: <%- produtos[index].musica %></span>             
          </td>
<td> 
  
  <audio class="pla<%= index %>" controls> 
  <source src="<%= caminho[index] %>" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio> 

</td>

          <td>
            <form method="POST" action="/servicos/remove?_method=DELETE">
              <input type="text" name="id" value=<%= produtos[index].id %> hidden>
              <button type="submit" class="btTable">Excluir</button>
            </form>
          </td>

        </tr>
      <% }; %>
  
  </table>


<%- include('partials/footer') %> 