<%- include('partials/header') %>

    <link rel="stylesheet" href="/stylesheets/admin.css" enctype="multipart/form-data">
    <script src="/javascripts/admin.js" defer></script>
    

<H1 class="aga1">ADMINISTRAÇÃO DE PRODUTOS</H1>

    <main class="container-main">


      <form class="form" method="post" action="/servicos/create" enctype="multipart/form-data">
        <h2>CREATE</h2>

        <input type="text" name="artista" id="artista" required placeholder="Artista" >
        <input type="text" name="musica"  required placeholder="Música">
        <input type="text" name="album"   required placeholder="Álbum">

        <% const generosLabels = ["Rock","Dance","HipHop","Sertanejo","Axé","Blues","Funk","Forro","Reggae","Pop","Samba","Pagode","MPB"]  %>

        <select name="genero">
        <% for( let index = 0; index < generosLabels.length; index++ ) { %>          
            <option value="<%=generosLabels[index]%>"><%=generosLabels[index]%></option>        
        <% } %>
       </select>
               
        <div class="imagem">
        <p>Capa Album</p>

       <img id="imagemAL"  src = "../images/imagensAlbuns/wait.jpg" alt="">
        <input required id="escolheArquivo" type="file" name="imagem" accept="image/*" placeholder="imagem" >
      </div>    

        <input type="text" name="preco" required placeholder="Preço R$">
        <input type="text" name="gravadora" required placeholder="Gravadora">
        <input type="text" name="ano" required placeholder="Ano" >

        <div>
        <label for="ativo">Ativo</label>       
        <input type="radio" id="radio_yes" name="ativo" value="1" checked="checked"/> Sim
        <input type="radio" id="radio_no"  name="ativo" value="0"/> Não    
        </div>

        <div>
        <label for="oferta">Oferta</label>
        <input type="radio" id="radio_yes" name="oferta" value="1" /> Sim
        <input type="radio" id="radio_no"  name="oferta" value="0"
        checked="checked" /> Não
        </div>

        <p>Arquivo MP3</p>
        <input required type="file" name="endereco" accept="audio/mp3" placeholder="MP3">
        
        <button >Adicionar Música</button>
      </form>
      


      <!-- GET -->
     <div class="get">
      <!-- <form method="get" action="/servicos/search"> -->
        <h2>READ</h2>
        <input type="text" name="id" id="id" placeholder="id">   
        <input type="text" name="artista" placeholder="Artista" >
        <input type="text" name="musica" placeholder="Música">
        <input type="text" name="album" placeholder="Álbum" >
        <input type="text" name="genero" placeholder="Genero" >
        <input type="text" name="preco" placeholder="Preco" >
        <input type="text" name="gravadora" placeholder="Gravadora" >
        <input type="text" name="ano" placeholder="Ano" >
        <label for="">Ativo = </label>
        <label for="">Oferta = </label>
        
        <button id="busca" onclick="vai()">Buscar</button>
      <!-- </form> -->
      </div>

      


      <!-- PUT -->
     
      <form class="form" method="post" action="/servicos/edit?_method=PUT">
        <h2>UPDATE</h2>
        <input type="text" name="id" placeholder="id" >
        <input type="text" name="artista" placeholder="Artista">
        <input type="text" name="musica" placeholder="Música">
        <input type="text" name="album" placeholder="Álbum">
       
        <select name="genero">
          <option value="rock" selected>Rock</option>
          <option value="dance" >Dance</option>
          <option value="hiphop">Hip Hop</option>
          <option value="sertanejo">Sertanejo</option>
          <option value="axe">Axé</option>
          <option value="blues">Blues</option>
          <option value="funk">Funk</option>
          <option value="forro">Forró</option>]
          <option value="reggae">Reggae</option>
          <option value="pop">Pop</option>
          <option value="samba">Samba</option>
          <option value="pagode">Pagode</option>
          <option value="mpb">MPB</option>
        </select>


        <input type="text" name="preco" placeholder="Preco">
        <input type="text" name="gravadora" placeholder="Gravadora">
        <input type="text" name="ano" placeholder="Ano">

        <div>
          <label for="ativo">Ativo</label>       
          <input type="radio" id="radio_yes" name="ativo" value="1" checked="checked"/> Sim
          <input type="radio" id="radio_no"  name="ativo" value="0"/> Não    
          </div>
  
          <div>
          <label for="oferta">Oferta</label>
          <input type="radio" id="radio_yes" name="oferta" value="1" /> Sim
          <input type="radio" id="radio_no"  name="oferta" value="0" checked="checked" /> Não
          </div>

        <button>Editar</button>
      </form>
   


      <!-- DELETE post-->
      
      <!-- <form class="form" method="post" action="/servicos/remove?_method=DELETE">
        <h2>DELETE</h2>
        <label for="id">ID:</label>
        <input type="text" name="id" placeholder="id">

        <button>Excluir</button>
      </form>
   -->

    </main>


    <table class="table">
    
      <tr>
        <th>Capa</th>
        <th>Produto</th>
        <th>Ações</th>
      </tr>
      
      <% for( let index = 0; index < produtos.length; index++ ){ %>
        <tr>
<td>
<img class="imgTable" src=<%- produtos[index].imagem %> alt="">
</td>

          <td>
            <span>ID:<%- produtos[index].id %> - </span>
            <span>Artista: <%- produtos[index].artista %> - </span> 
            <span>Música: <%- produtos[index].musica %></span> 
            
           

          </td>
          <td>
            <form method="POST" action="/servicos/remove?_method=DELETE">
              <input type="text" name="id" value=<%= produtos[index].id %> hidden>
              <button type="submit" class="btTable">Excluir</button>
            </form>
          </td>

        </tr>
      <% }; %>
  
  </table>


<%- include('partials/footer') %> 