<%- include('partials/header') %>

    <link rel="stylesheet" href="/stylesheets/admin.css" enctype="multipart/form-data">
    <script src="/javascripts/admin.js" defer></script>
    
    <main class="container-main">


      <form method="post" action="/servicos/create" enctype="multipart/form-data">
        <h2>CREATE</h2>

        <input type="text" name="artista" id="artista" required placeholder="Artista" >
        <input type="text" name="musica"  required placeholder="Música">
        <input type="text" name="album"   required placeholder="Álbum">

        <% const generosValues = ["rock","dance","hiphop","sertanejo","axe","blues","funk","forro","reggae","pop","samba","pagode","mpb"]  %>
        <% const generosLabels = ["Rock","Dance","HipHop","Sertanejo","Axé","Blues","Funk","Forro","Reggae","Pop","Samba","Pagode","MPB"]  %>

        <select name="genero">
        <% for( let index = 0; index < generosValues.length; index++ ) { %>          
            <option value="<%=generosValues[index]%>"><%=generosLabels[index]%></option>        
        <% } %>
       </select>
               
        <div class="imagem">
        <p>Capa Album</p>
       
        <input id="escolherArquivo" type="file" name="imagem" accept="image/*" placeholder="imagem" >

<script defer>
  
  var img = document.getElementById('newAlbum');
  var escolherArquivoBTN = document.getElementById('escolherArquivo')
  escolherArquivoBTN.onchange = function(e){ 
  console.log(escolherArquivoBTN.files[0])
};
</script>

      </div>    

        <input type="text" name="preco" required placeholder="Preço R$">
        <input type="text" name="gravadora" required placeholder="Gravadora">
        <input type="text" name="ano" required placeholder="Ano" >

        <div>
        <label for="ativo">Ativo</label>       
        <input type="radio" id="radio_yes" name="ativo" value="1" checked="checked"/> Sim
        <input type="radio" id="radio_no"  name="ativo" value="0"/> Não    
        </div>

        <div>
        <label for="oferta">Oferta</label>
        <input type="radio" id="radio_yes" name="oferta" value="1" /> Sim
        <input type="radio" id="radio_no"  name="oferta" value="0"
        checked="checked" /> Não
        </div>

        <p>Arquivo MP3</p>
        <input type="file" name="endereco" accept="audio/mp3" placeholder="MP3">
        
        <button >Adicionar Música</button>
      </form>
      


      <!-- GET -->
     <div class="get">
      <!-- <form method="get" action="/servicos/search"> -->
        <h2>READ</h2>
        <input type="text" name="id" id="id" placeholder="id">   
        <input type="text" name="artista" placeholder="Artista" value="<%= envia.artista %>">
        <input type="text" name="musica" placeholder="Música" value="<%= envia.musica %>">
        <input type="text" name="album" placeholder="Álbum" value="<%= envia.album %>">
        <input type="text" name="genero" placeholder="Genero" value="<%= envia.genero %>">
        <input type="text" name="preco" placeholder="Preco" value="<%= envia.preco %>">
        <input type="text" name="gravadora" placeholder="Gravadora" value="<%= envia.gravadora %>">
        <input type="text" name="ano" placeholder="Ano" value="<%= envia.ano %>">
        <label for="">Ativo = "<%= envia.ativo %>"</label>
        <label for="">Oferta = "<%= envia.oferta %>"</label>
        
        <button id="busca" onclick="vai()">Buscar</button>
      <!-- </form> -->
      </div>

      


      <!-- PUT -->
     
      <form method="post" action="/servicos/edit?_method=PUT">
        <h2>UPDATE</h2>
        <input type="text" name="id" placeholder="id" >
        <input type="text" name="artista" placeholder="Artista">
        <input type="text" name="musica" placeholder="Música">
        <input type="text" name="album" placeholder="Álbum">
       
        <select name="genero">
          <option value="rock" selected>Rock</option>
          <option value="dance" >Dance</option>
          <option value="hiphop">Hip Hop</option>
          <option value="sertanejo">Sertanejo</option>
          <option value="axe">Axé</option>
          <option value="blues">Blues</option>
          <option value="funk">Funk</option>
          <option value="forro">Forró</option>]
          <option value="reggae">Reggae</option>
          <option value="pop">Pop</option>
          <option value="samba">Samba</option>
          <option value="pagode">Pagode</option>
          <option value="mpb">MPB</option>
        </select>


        <input type="text" name="preco" placeholder="Preco">
        <input type="text" name="gravadora" placeholder="Gravadora">
        <input type="text" name="ano" placeholder="Ano">

        <div>
          <label for="ativo">Ativo</label>       
          <input type="radio" id="radio_yes" name="ativo" value="1" checked="checked"/> Sim
          <input type="radio" id="radio_no"  name="ativo" value="0"/> Não    
          </div>
  
          <div>
          <label for="oferta">Oferta</label>
          <input type="radio" id="radio_yes" name="oferta" value="1" /> Sim
          <input type="radio" id="radio_no"  name="oferta" value="0" checked="checked" /> Não
          </div>

        <button>Editar</button>
      </form>
   


      <!-- DELETE post-->
      
      <form method="post" action="/servicos/remove?_method=DELETE">
        <h2>DELETE</h2>
        <label for="id">ID:</label>
        <input type="text" name="id" placeholder="id">

        <button>Excluir</button>
      </form>
  

    </main>

<%- include('partials/footer') %> 