

    <%- include('partials/header')%>

    <link rel="stylesheet" href="/stylesheets/carrinho.css">
    <script src="/javascripts/carrinho.js" defer></script>

    <main>

    <h1 id="label">Seu Carrinho</h1>

<div class="carrinho-container">

    <% for( let x = 0; x < carrinho.length; x++ ) { %>
    
      
    <div class="card-carrinho" id="quantidade" quantidade=<%= carrinho.length %>>
    <img class="imagem" src=<%= carrinho[x].imagem %> alt="">  
    <div class="pilha">
    <span> <%= carrinho[x].musica %> </span>
    <span id= <%='preco' + x %> valor= <%= carrinho[x].preco %> > R$<%= carrinho[x].preco %></span>
    </div>
    <input id=<%= 'ID' + x %> tagID="<%= carrinho[x].id %>" class="button" type="button"  value="Remover">
   
   </div>
    <% } %>


<div class="card-pagar">

     <span><%= 'Quantidade de itens: ' + carrinho.length%></span>

     <div>

<div class="cupon">
    <input type="button" class="button" value="Cupom" onclick="calculaTotal()">
    <input type="text" width="5" id="cupom" placeholder="cupom ex: 20%OFF">
</div>

<div class="fatura">
    <span  id="valorTotal" >Total: R$</span>
    <span  id="exibeDesconto">Desconto de: R$</span>   
    <input type="button" value="Pagar" class="button">
</div>

</div>

</div> 



</main>

<%- include('partials/footer')%>