<script src="/javascripts/listaDeProdutos.js" defer></script>
    <title>ListadeProdutos</title>
<link rel="stylesheet" href="/stylesheets/listadeprodutos.css">

<%- include('partials/header')%>

    <main>
        <div class="nome-lista">
       
            <h1>Escolha seu estilo!</h1>  
            
            <% const generosValues = ["rock","dance","hiphop","sertanejo","axe","blues","funk","forro","reggae","pop","samba","pagode","mpb"]  %>
            <% const generosLabels = ["Rock","Dance","HipHop","Sertanejo","Axé","Blues","Funk","Forro","Reggae","Pop","Samba","Pagode","MPB"]  %>
            <select name="genero" class="lista" id="lista">
            <% for( let index = 0; index < generosValues.length; index++ ) { %>          
                <option value="<%=generosValues[index]%>"><%=generosLabels[index]%></option>        
            <% } %>
           </select>
          
              <input type="button" id="filtrarBtn" class="filtrar" value="Buscar" onclick="filtrar()">
              <input type="button" id="removeFiltroBtn" class="filtrar" value="Sem Filtro" onclick="removeFiltro()">
            </div>
    
           

        <p class="descricao"> <%= recebe.musica %> </p>

           <% if (recebe.length <= 0) { %>
            <h1 id="semDados" class="nome-lista">Sem Resultados!</h1>
           <% } %>

        <div class="produtos-container" id="quantidade" tagDeQuantidade=<%=recebe.length %>>
          <% for(var i=0; i < recebe.length; i++) { %>            

              <div class="produto">
                <% if ( recebe[i].oferta == '1') { %>
                  <img class="oferta" src="/oferta.png" alt="">
                 <% } %>
                  <img class="img"  src= <%= recebe[i].imagem %> alt="">

                  <h2 class="nome-artista"> <%= recebe[i].artista %> </h2>
                  <p class="descricao"><%= recebe[i].musica %> </p>                  
                   <p class="categoria"><%= recebe[i].genero %> </p>
                   <p class="preco">R$ <%= recebe[i].preco %> </p> 
                             
                  <audio class="pla<%= i %>" controls hidden> 
                    <source src="<%= caminho[i] %>" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio> 

                    <button idi="<%= i %>" class="play" id="play<%= i %>" qtd="<%= caminho.length %>" >Play</button>

                  <button class="Comprar" novaTag=<%= recebe[i].id %> id=<%="ID" + i %>>Comprar</button>           
                  <p>Ref: ID <%= recebe[i].id %></p>
              </div>   

             
           <% } %>           
      </div> 
          


          <div class="modal-container">
            <div class="modal">
              <p>
               Um ítem foi Adicionado ao seu Carrinho!
              </p>
              <input id="botaoCarrinho" type="button" value="Seguir para Carrinho" onclick="location.href='/carrinho'">
            </div>
          </div>
        
    </main>

<div class="marginFooter"></div>
  
    <%- include('partials/footer')%>