<script src="/javascripts/listaDeProdutos.js" defer></script>
    <title>ListadeProdutos</title>
<link rel="stylesheet" href="/stylesheets/listadepordutos.css">

<%- include('partials/header')%>

    <main>
        <div class="nome-lista">
            <h1>Escolha seu estilo!</h1>  
            
            <select name="genero" class="lista">
                <option value="rock" selected>Rock</option>
                <option value="dance" >Dance</option>
                <option value="hiphop">Hip Hop</option>
                <option value="sertanejo">Sertanejo</option>
                <option value="axe">Axé</option>
                <option value="blues">Blues</option>
                <option value="funk">Funk</option>
                <option value="forro">Forró</option>]
                <option value="reggae">Reggae</option>
                <option value="pop">Pop</option>
                <option value="samba">Samba</option>
                <option value="pagode">Pagode</option>
                <option value="mpb">MPB</option>
              </select>
              
              <input type="button" class="filtrar"class="Comprar" value="Filtrar">

        </div>


        <div class="produtos-container" id="quantidade" tagDeQuantidade=<%=coletanea.length %>>
            <% for(var i=0; i < coletanea.length; i++) { %>             
                <div class="produto">
                    <img class="img"  src= <%= coletanea[i].imagem %> alt="">
                    <h2 class="nome-artista"> <%= coletanea[i].artista %> </h2>
                    <p  class="descricao"><%= coletanea[i].musica %> </p>
                    <p  class="categoria"><%= coletanea[i].genero %> </p>
                    <p  class="preco">R$ <%= coletanea[i].preco %> </p> 
                    <button class="Comprar" novaTag=<%= coletanea[i].id %> id=<%="ID" + i %>>Comprar</button>           
                    <p>Ref: ID <%= coletanea[i].id %></p>
                </div>            
             <% } %>           
        </div>
          
          
          <div class="modal-container">
            <div class="modal">
              <p>
               Um ítem foi Adicionado ao seu Carrinho!
              </p>
              <input id="botaoCarrinho" type="button" value="Seguir para Carrinho" onclick="location.href='/carrinho'">
            </div>
          </div>
        
    </main>

<div class="marginFooter"></div>
  
    <%- include('partials/footer')%>