

<%- include('partials/header')%>


      <main>
       
        <section id="playlist">
            

            <a href="/Playlists"><h1>Playlists </h1></a>
           

            <div class="container-cardPlay">
            
            <div class="card-playlist">

                <img src="../images/home-img/foto6.png" alt="">
                <footer>
                    <span>Playlist</span>
                </footer>
            </div>

            <div class="card-playlist">
                <img src="../images/home-img/foto9.jpg" alt="">
                <footer>
                    <span>Playlist</span>                   
                </footer>
            </div>

            <div class="card-playlist">
                <img src="../images/home-img/foto5.jpg " alt="">
                <footer>
                    <span>Playlist</span>
                </footer>
            </div>

            <div class="card-playlist">
                <img src="../images/home-img/foto7.jpg " alt="">
                <footer>
                    <span>Playlist</span>
                </footer>
            </div>

            <div class="card-playlist">
                <img src="../images/home-img/foto2.jpg " alt="">
                <footer>
                    <span>Playlist</span>
                </footer>         
            </div>
     
      
        </div>
        </section>

    
   

       


        
            <h1 class="recentes">Ouvidas Recentes</h1> 
            <div class="container-recentes">                  
                    <% for(var i=ouvidasRecentes.length-1; i >  ouvidasRecentes.length-6; i--) { %>               
                        <div class="card-recente">                           
                            <img id=<%= 'capaAlbum' + i %> src= <%= ouvidasRecentes[i].imagem %> alt="">   
                            <span id=<%= 'labelMusica' + i %> ><%= ouvidasRecentes[i].musica %></span>                                                                                                                                                                                                       
                        </div>                 
                     <% } %>   
            </div>
       



        <h1 class="topH1">Top 5 Covers da Semana </h1>     
            <div class="container-top5" >  
                <% var index = 0 %>                         
                <% for(var i=coletanea.length-1; i >  coletanea.length-6; i--) { %>               
                    <div class="card">                  
                        <img id=<%= 'imgTop5-' + index  %>   src= <%= coletanea[i].imagem %> alt=<%= coletanea[i].ID %>>   
                        <% index++ %>
                        <div class="price"><div class="espaco"></div> R$<%= coletanea[i].preco %></div>                           
                        <span><%= coletanea[i].artista %></span>
                            <span><%= coletanea[i].musica %> </span>  
                                                                                                                                          
                    </div>                 
                 <% } %>             
            </div>
       
    
        



      </main>


  

      <%- include('partials/footer')%>