

<%- include('partials/header')%>


      <main>
            
        <% var playLists=["Ar Puro","Heavy Metal","Café da Manhã","Eletrônicas","Treino"] %>
            <h1 class="playLists">Playlists </h1>
            <div class="container-cardPlay">       
            <% for(var i=0; i < 5  ; i++) { %>               
                <div class="card-playlist">
                    <img src= <%= "../images/playlists-img/" + i + ".jpg "%> alt="" >
                    <footer>
                        <span class="span"><%= playLists[i]   %></span>
                    </footer>         
                </div>           
             <% } %>   
        </div>
        
     

        
            <h1 class="recentes">Ouvidas Recentes</h1> 
            <div class="container-recentes">                  
                    <% for(var i=ouvidasRecentes.length-1; i >  ouvidasRecentes.length-6; i--) { %>               
                        <div class="card-recente">                           
                            <img id=<%= 'capaAlbum' + i %> src= <%= ouvidasRecentes[i].imagem %> alt="">   
                            <span id=<%= 'labelMusica' + i %> ><%= ouvidasRecentes[i].musica %></span>                                                                                                                                                                                                       
                        </div>                 
                     <% } %>   
            </div>
       



        <h1 class="topH1">Top 5 Covers da Semana </h1>     
            <div class="container-top5" >  
                <% var index = 0 %>                         
                <% for(var i=coletanea.length-1; i >  coletanea.length-6; i--) { %>               
                    <div class="card">                  
                        <img id=<%= 'imgTop5-' + index  %>   src= <%= coletanea[i].imagem %> alt=<%= coletanea[i].id %>>   
                        <% index++ %>
                        <div class="price"><div class="espaco"></div> R$<%= coletanea[i].preco %></div>                           
                        <span><%= coletanea[i].artista %></span>
                            <span><%= coletanea[i].musica %></span>                                                                                                                                        
                    </div>                 
                 <% } %>             
            </div>
       
    
        



      </main>


  

      <%- include('partials/footer')%>